<div class="row">
  
  <div class="col-md-6">

    <div class="card text-center">
  
      <div class="card-body">
       
        <form (submit)="addAccount($event)">
            <div class="form-group">
              <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="razon">
              <input type="number" class="form-control" name="amount" [(ngModel)]="amount" placeholder="monto">
              <span class="input-group-addon">
                <button type="submit" class="btn btn-primary">Agregar</button>
              </span>
            </div> 
        </form>
      </div>
      
    </div>
   

  </div>
  
  <div class="col-md-6">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
